<div class="board-inner" id="status-buttons">
    <ul class="nav nav-tabs" id="myTab">
        <div class="liner"></div>
                    
        <!-- circular user icon -->
        <li>
            <a routerLink="/inputpage" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="issue">
                <span class="round-tabs one">
                    <i class="glyphicon glyphicon-user"></i>
                </span>
            </a>
        </li>

        <!-- circular tasks icon -->
         <li>
            <a routerLink="/work" routerLinkActive="active" data-toggle="tab" title="assign">
                <span class="round-tabs two">
                    <i class="glyphicon glyphicon-tasks"></i>
                </span> 
            </a>
        </li>
        <li>
            <a routerLink="/ci" routerLinkActive="active" data-toggle="tab" title="CI">
                    <span class="round-tabs three">
                        <i class="glyphicon glyphicon-cog"></i>
                    </span> 
                </a>
            </li>
        <!-- circular  icon -->
        <li>
            <a routerLink="/work2" routerLinkActive="active" data-toggle="tab" title="impact & urgency">
                <span class="round-tabs four">
                    <i class="glyphicon glyphicon-bell"></i>
                </span>
            </a>
        </li>

        <!-- circular ok icon -->
        <li>
            <a routerLink="/result" routerLinkActive="active" data-toggle="tab" title="completed">
                <span class="round-tabs five">
                    <i class="glyphicon glyphicon-ok"></i>
                </span>
            </a>
        </li>
                
    </ul>
    <div class="clearfix"></div>
</div>

<!-- Close the Splash screen -->
<script src="assets/js/loading-bars.js"></script>