<form #workForm="ngForm" class="editForm" novalidate>
    <div class="form-horizontal">
        <div class="tab-pane fade in active">
                <h4 class="head text-center">{{title}}</h4>
            <div class='row'>
                <div class='col-xs-offset-4 col-xs-4  col-sm-4 col-md-4'>
                
                    
                    <div class="form-group">
                            <label class="control-label" for="urgency">Predicted Priority</label> 
                            <h4> <span class="label label-default">{{urgency}}</span></h4>
                               
                    
                        <label class="control-label" for="urgency2">Or Enter New Value</label>  
                        <input class="form-control" id="urgency2" name="urgency2" type="text"
                            [(ngModel)]="radioSelected2">                        
                    </div>
                    
                </div>

            </div>

            <div class="form-group text-center space-10">
                <button class="btn btn-outline-rounded btn-default" (click)="goToPrevious(workForm)"> <span style="margin-right:10px;" class="glyphicon glyphicon-arrow-left"></span> Previous</button>
                <button class="btn btn-outline-rounded btn-info" [disabled]="!workForm.valid" (click)="goToNext(workForm)"> Next <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button>
            </div>
        </div>
    </div>
    
</form>